#body {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 170vh;
}
#image {
    width: 40vw;
    height: 75vh;
    margin-top: 11vh;
    float: left;

}
#image img {
    width: 100%;
    height: 100%;
    background-color: #212121;
}
#Texte {
    width: 57vw;
    height: 75vh;
    margin-left: 40vw;
    margin-top: 11vh;
    font-family: Arial, sans-serif;
    font-size: 20px;
    background: linear-gradient(0.25turn, #ffffff, #C2C2C2);
    box-shadow: 5px 5px 5px;
}
#Texte i {
    font-size: 24px;
    margin-left: 20px;
}
#Texte p {
    margin: 20px;
}
#Texte h4 {
    font-size: 24px;
    margin-top: 20px;
    margin-left: 20px;
}

#description {
    display: inline-block;
}
#fond img {
    width: 100%;
    height: auto;
    background-color: aqua;
}


.statistics-container {
    display: flex;
    justify-content: space-between;
}

.statistic-box {
    width: 15%;
    height: 25vh;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 25vh;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #C2C2C2;
    border-radius: 8px;
    text-align: center;
    font-family: Bahnschrift;
}


.statistic-box {

    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari et Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* sur Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* sur Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}


section {
    margin-top: 30px;
}

h2 {
    color: #333;
}

.service, .team-member {
    text-align: center;
    margin-bottom: 20px;
}

.service i, .team-member img {
    font-size: 2em;
    color: #333;
}

.cta-button, button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
